body {
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

h2 {
  margin: 0;
  font-size: 24px;
}

select {
  display: block;
  width: 100%;
  padding: 6px;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

footer a {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

footer a:hover {
  text-decoration: none;
}

.date {
  opacity: 0.7;
}

.container {
  max-width: 500px;
  margin: 40px auto 20px auto;
  background: #dbd8e350;
  padding: 30px 30px 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.time {
  font-size: 43px;
  display: inline;
}

.time-reference {
  display: inline;
  font-size: 16px;
  position: relative;
  top: -5px;
  padding-left: 2px;
  font-weight: 500;
}

.los-angeles-time,
.rome-time,
.fiji-time,
.bangkok-time {
  font-size: 43px;
  display: inline;
}

.los-angeles-time-reference,
.rome-time-reference,
.fiji-time-reference,
.bangkok-time-reference {
  display: inline;
  font-size: 16px;
  position: relative;
  top: -5px;
  padding-left: 2px;
  font-weight: 500;
}

.city {
  padding: 8px 10px;
}

.row {
  margin: 0 4px;
  padding-bottom: 10px;
  padding-top: 5px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.row:last-child {
  border: none;
}

#back-link {
  padding: 4px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

#link {
  padding: 4px;
}
